@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  font-family: "Source Sans Pro", sans-serif;
}

::selection {
  background-color: #eff6fa;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eff6fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b559a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b559a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.callout-h3 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}
.callout-h3::after {
  content: "";
  width: 75px;
  height: 3px;
  background: #3b559a;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uk-button-secondary {
  background: #3b559a;
  border-radius: 10px;
}

.uk-button-default {
  border-color: #3b559a;
  border-radius: 10px;
}

.centered-divider {
  background: #3b559a;
  width: 75px;
  height: 3px;
  margin: 10px auto;
}

.site-header {
  background: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 20;
  transition: 350ms ease-in-out;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  margin-top: 16px;
  margin-right: 16px;
}
.main-menu ul {
  display: flex;
  align-items: center;
}
.main-menu ul a {
  color: lightslategray;
  margin-left: 20px;
  transition: 200ms;
  position: relative;
}
.main-menu ul a:hover {
  color: #3b559a;
  text-decoration: none;
}
.main-menu ul li.current-menu-item a {
  color: #3b559a;
  font-weight: 600;
}
.main-menu ul li.current-menu-item a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #ffcc00;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.button-container {
  margin: auto;
}

.burger {
  position: fixed;
  top: 6rem;
  bottom: 50%;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  z-index: 40;
  display: none;
}
.burger:hover {
  height: 30px;
}

.burger-bar {
  background-color: #3b559a;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.burger-bar::before, .burger-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3b559a;
  border-radius: 3px;
  transition: all 500ms ease-in-out;
}
.burger-bar::before {
  transform: translateY(-10px);
}
.burger-bar::after {
  transform: translateY(10px);
}

.burger.open .burger-bar {
  background: transparent;
}

.burger.open .burger-bar::before {
  transform: rotate(45deg);
  background: #3b559a;
}

.burger.open .burger-bar::after {
  transform: rotate(-45deg);
  background: #3b559a;
}

@media (max-width: 960px) {
  .right-nav {
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 120px;
    right: -300px;
    background: white;
    z-index: 10;
    transition: all 500ms ease-in-out;
  }
  .right-nav.active {
    right: 0;
  }
  .main-menu ul {
    flex-direction: column;
  }
  .main-menu ul li {
    margin: 20px 0;
  }
  .burger {
    display: block;
  }
}
footer {
  background: #3b559a;
  color: whitesmoke;
  padding: 3rem 0;
}
footer h3 {
  color: white;
  margin: 0;
}
footer p {
  margin: 0;
}
footer a {
  color: rgba(245, 245, 245, 0.774);
  display: block;
  transition: 200ms;
}
footer a:hover {
  text-decoration: none;
  color: white;
}
footer .copyright {
  border-top: 1px solid rgba(245, 245, 245, 0.336);
  margin-top: 20px;
  padding-top: 30px;
}

.hompage-banner {
  padding: 7rem 0;
}
.hompage-banner h1 {
  color: #3b559a;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.banner-slide img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hompage-banner {
    padding: 3rem 0;
  }
  .hompage-banner h1 {
    font-size: 30px;
  }
}
.our-vision {
  padding: 5rem 0;
}
.our-vision img {
  border-radius: 10px;
  width: 100%;
}
.our-vision article {
  background: white;
  padding: 30px;
  margin-left: -3rem;
}
.our-vision article h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  position: relative;
}
.our-vision article h3::after {
  content: "";
  width: 75px;
  height: 3px;
  background: #3b559a;
  position: absolute;
  bottom: -6px;
  left: 0;
}

@media (max-width: 960px) {
  .our-vision {
    padding: 3rem 0;
  }
  .our-vision article {
    margin-left: 0;
  }
}
.our-info {
  background: #eff6fa;
  padding: 5rem 0;
}

.our-info-block svg {
  color: #3b559a;
  font-size: 25px;
  margin: 0;
}
.our-info-block h4 {
  color: #3b559a;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
}
.our-info-block p {
  margin: 0;
}

.benefits {
  padding: 5rem 0;
}
.benefits img {
  border-radius: 10px;
  width: 100%;
}
.benefits article {
  background: white;
  padding: 30px;
  margin-left: -3rem;
}
.benefits article h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  position: relative;
}
.benefits article h3::after {
  content: "";
  width: 75px;
  height: 3px;
  background: #3b559a;
  position: absolute;
  bottom: -6px;
  left: 0;
}

@media (max-width: 960px) {
  .benefits {
    padding: 3rem 0;
  }
  .benefits article {
    margin-left: 0;
  }
}
.our-numbers {
  padding: 3rem 0;
}
.our-numbers-container {
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  padding: 35px;
}

.numbers-box h3 {
  color: #3b559a;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}
.numbers-box p {
  margin: 0;
}

.our-staff {
  padding: 3rem 0;
}

.custom-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 0 10px;
}
.custom-icon-box h4 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
.custom-icon-box svg {
  color: #3b559a;
  font-size: 24px;
  margin-top: 20px;
}

.staff-page-header,
.page-header {
  background: #3b559a;
  color: white;
  padding: 6rem 0;
}
.staff-page-header h1,
.page-header h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  position: relative;
}
.staff-page-header h1::before,
.page-header h1::before {
  content: "";
  width: 75px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
}

.staff-page-body,
.page-body {
  padding: 3rem 0;
}

.staff-info-box {
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  padding: 30px;
}
.staff-info-box svg,
.staff-info-box h4,
.staff-info-box p {
  margin: 0;
}
.staff-info-box svg {
  color: #3b559a;
  font-size: 25px;
}
.staff-info-box h4 {
  color: #3b559a;
  font-weight: 600;
  padding: 10px 0;
}

.custom-page-template-header {
  background: #3b559a;
  color: white;
  padding: 6rem 0;
}
.custom-page-template-header h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  position: relative;
}
.custom-page-template-header h1::before {
  content: "";
  width: 75px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
}

.custom-page-template-body {
  padding: 3rem 0;
}