@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$slateblue: #3b559a;
$aliceblue: #eff6fa;
$sunset: #ffcc00;
$boxShadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
$borderRadius: 10px;

*,
*::before,
*::after {
    font-family: 'Source Sans Pro', sans-serif;
}

::selection {
    background-color: $aliceblue;
    color: black;
}

//ScrollBar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $aliceblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $slateblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $slateblue;
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

.color-blue {
    color: $slateblue !important;
}

.callout-h3 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;

    &::after {
        content: '';
        width: 75px;
        height: 3px;
        background: $slateblue;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.uk-button-secondary {
    background: $slateblue;
    border-radius: 10px;
}

.uk-button-default {
    border-color: $slateblue;
    border-radius: 10px;
}

.centered-divider {
    background: $slateblue;
    width: 75px;
    height: 3px;
    margin: 10px auto;
}

.um input[type=submit].um-button,
.um input[type=submit].um-button:focus,
.um a.um-button,
.um a.um-button.um-disabled:hover,
.um a.um-button.um-disabled:focus,
.um a.um-button.um-disabled:active {
    background: $slateblue !important;
    color: whitesmoke !important;
}

.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um .um-members-pagi span.current,
.um .um-members-pagi span.current:hover,
.um .um-profile-nav-item.active a,
.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,
div.uimob800 .um-account-side li a.current:hover {
    background: $slateblue !important;
    color: whitesmoke !important;
}

div.wpforms-container-full .wpforms-form .wpforms-pagebreak-left .wpforms-page-button,
.wpforms-submit-container .wpforms-submit,
.wpforms-form button[type=submit] {
    background: $slateblue !important;
    border: 0;
    border-radius: $borderRadius;
    color: white !important;
    padding: 10px 30px !important;
}

div.wpforms-container-save-resume .wpforms-form .wpforms-pagebreak-left .wpforms-save-resume-button {
    color: $slateblue;
    margin: 0 10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.um-50.um .um-profile-body {
    max-width: 999px !important;
}

.um-completeness-done {
    background: $slateblue !important;
}

div.um-user-locations-map-field-view {
    display: none !important;
}

.um span.um-req {
    color: #f0506e !important;
}

@import './components/_header';

@import './components/_footer';

@import './components/_banner';

@import './components/_our-vision';

@import './components/_our-info';

@import './components/_benefits';

@import './components/_our-numbers';

@import './components/_reviews';

@import './pages/_front-page';

@import './pages/_page';

@import './pages/_custom-page-template';

@import './pages/_login-register';

@import './pages/page-dbs-check';