.custom-page-template-header {
    background: $slateblue;
    color: white;
    padding: 6rem 0;

    h1 {
        color: white;
        font-size: 45px;
        font-weight: bold;
        position: relative;

        &::before {
            content: '';
            width: 75px;
            height: 3px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: whitesmoke;
        }
    }
}

.custom-page-template-body {
    padding: 3rem 0;
}